<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      <i class="fa fa-user"></i> Demographics
      <i class="fa fa-pencil edit pull-right"
         ng-click="patient.recordEditor.editItem('demographics', 0)"></i>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <b>Mã số</b>
      </div>
      <div class="col-md-8">
        <code>[[ patient.demographics[0].hospital_number ]]</code>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <b>Tên</b>
      </div>
      <div class="col-md-8">
        [[ patient.demographics[0].name ]]
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <b>SĐT</b>
      </div>
      <div class="col-md-8">
        [[ patient.demographics[0].phone_number ]]
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <b>Ngày sinh</b>
      </div>
      <div class="col-md-8">
        [[ patient.demographics[0].date_of_birth | shortDate ]]
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <b>Giới tính</b>
      </div>
      <div class="col-md-8">
        [[ patient.demographics[0].sex ]]
      </div>
    </div>
  </div>
  {% block footer %}{% endblock %}
</div>
