<div class="container content-offset">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>
        <i class="fa fa-home"></i>
        {{ OPAL_BRAND_NAME }}
      </h2>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Danh Sách Bệnh Nhân</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <p>
                    <a href="#/list/">
                      <i class="fa fa-users fa-5x fa-border"></i>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Tìm Kiếm</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <p>
                    <a href="#/search/">
                      <i class="fa fa-search fa-5x fa-border"></i>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Quản Trị</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <p>
                    <a href="/admin/">
                      <i class="fa fa-cogs fa-5x fa-border"></i>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
